		# R-related files
		*.Rproj
		.Rproj.user/
		.Rhistory
		.RData
		.Ruserdata
	
		# Temporary files
		*.log
		*.tmp
	
		# System files
		.DS_Store       # macOS
		Thumbs.db       # Windows
.Rproj.user
